.search {
  position: relative;
  width: 300px;
  margin-left: auto;
}
.search input {
    width: 200px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px 10px 34px; /* 왼쪽 패딩을 조절하여 아이콘에 여백을 줍니다 */
    font-size: 14px;
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png');
    background-position: 10px center; /* 아이콘의 위치를 조절합니다 */
    background-repeat: no-repeat; /* 아이콘을 한 번만 보이게 합니다 */
    background-size: 17px; /* 아이콘의 크기를 조절합니다 */
  
}