body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
nav {
    background-color: #f0f0f0;
    padding: 1em;
    position: relative;
    display: flex;
  justify-content: space-between;
  align-items: center;

}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
display: inline;
margin: 0 10px;
position: relative; /* 여기에 추가 */
}
nav ul li ul {
display: none; /* 하위 메뉴를 기본적으로 숨깁니다. */
position: absolute; /* 상위 메뉴 항목 기준으로 위치합니다. */
background-color: #f0f0f0; /* 하위 메뉴의 배경색 */
padding: 1em;
left: 0; /* 좌측 정렬 */
width: 80px; /* 상위 항목 너비에 맞춤 */
}
nav ul li:hover ul {
display: block; /* 마우스를 올릴 때 하위 메뉴를 보여줌 */
}
nav ul li ul li {
display: block; /* 하위 메뉴 항목을 블록으로 표시 */
margin: 0.5em 0; /* 간격 조정 */
}
aside {
    background-color: #e0e0e0;
    padding: 1em;
    overflow: hidden;
}
main {
    flex-grow: 2;
    padding: 1em;
    overflow: scroll;
}
footer {
    margin-top: auto;
}
li a {
    text-decoration: none;
   }
  div.first > img {
    width: 49%; /* 혹은 원하는 크기 */
    height: 400px; /* 혹은 원하는 크기 */
    float: left;
    margin-right: 10px;
    
   }
   div.second > img {
    width: 49%; /* 혹은 원하는 크기 */
    height: 400px; /* 혹은 원하는 크기 */
    float: right;
    margin-left: 10px;
   }
   
.calendar {
    width: 100%;
    border-collapse: collapse;
}
.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.calendar th {
    background-color: #f2f2f2;
}
.item {
width: 100%;
height: 400px;
display: flex;
justify-content: center; /* 가로 중앙 정렬 */
align-items: center; /* 세로 중앙 정렬, 필요한 경우 */
}

.item table {
    width: 80%;
    height: 400px;
margin: auto; /* table도 가운데 정렬 */

}
.item table td {
    font-size: 35px; /* 글씨 크기를 16px로 조정합니다. */
}

.item input[type="checkbox"] {
    transform: scale(3.0); /* 체크박스 크기를 1.5배로 증가시킵니다. */
    margin: 5px; /* 여백을 추가하여 체크박스 주변 공간을 늘립니다. */
}
