.image-container {
    position: relative;
    width: 400px; /* 사진 크기를 조정합니다 */
    margin: 10px auto; /* 상하 마진 10px, 좌우 마진 자동으로 설정하여 중앙 정렬 */
}

.image-container img {
    width: 100%;
    height: 450px;
    transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

.image-container::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    display: none;
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 80%; /* 텍스트 박스 너비 */
}

.image-container:hover::after {
    display: block;
}

.image-container:hover img {
    opacity: 0.5; /* 이미지 흐림 효과 */
}