.image-caption {
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

.audio-right {
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

.highlight {
    font-size: 1.2em;
    color: #FF6347;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.highlight:hover + img {
    display: block;
    top: 220px;
    left: 50%;  
    transform: translateX(50%);
}

img {
    width: 500px;
    height: 30%;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);    
    z-index: 100; 
}

.hidden {
    display: none;
}

tip.left {
    text-align: center;
    position: relative;
    overflow: hidden;
}

#map {
    transition: transform 0.3s ease, left 0.3s ease;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#map:hover {
    transform: scale(2.5);
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 5px;
    }

    .center-iframe iframe {
        width: 100%;
    }

    .audio-right, .first, .second, .left, .right, .food, .tip.left {
        width: 100%;
    }

    .image-caption, .food ul, .tip ul {
        text-align: center;
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header, footer {
        padding: 5px 0;
    }

    nav ul li a {
        padding: 10px;
        display: block;
    }

    .audio-right audio, .food img, .tip img {
        width: 100%;
    }
}