body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; 
    height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed; 
    width: 100%; 
    z-index: 100; 
}

header {
    top: 0; 
}

footer {
    bottom: 0; 
    margin-top: auto;
}

nav {
    background-color: #f0f0f0;
    padding: 1em;
    width: 20%; 
    height: calc(100vh - 2em); 
    overflow: auto; 
    position: fixed; 
    top: 60px; 
}

main {
    flex-grow: 2;
    padding: 1em;
    overflow: scroll;
    margin-left: 1%; 
    margin-top: 60px; 
    height: calc(100vh - 120px); 
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 10px; 
}

aside {
    background-color: #e0e0e0;
    padding: 1em;
    overflow: hidden;
    width: 20%; 
    position: fixed; 
    right: 0; 
    top: 60px; 
    height: calc(100vh - 2em); 
}

li a {
    text-decoration: none;
   }
 
   nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
display: inline;
margin: 0 10px;
position: relative; 
}
nav ul li ul {
display: none; 
position: absolute; 
background-color: #f0f0f0; 
padding: 1em;
left: 0; 
width: 80px; 
}
nav ul li:hover ul {
display: block; 
border: 1px solid black;
}
nav ul li ul li {
display: block;
margin: 0.5em 0; 
}
    
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    nav, main, aside {
        width: 100%;
        position: relative;
        height: auto;
        overflow: visible;
        margin-left: 0px; 
    }

    nav {
        top: 50px;
    }

    main {
        margin-top: 400px;
    }

    aside {
        top: auto;
    }

    footer {
        position: relative;
        bottom: -50%;
        margin-top: 1em;
    }
}


