.left > img {
            width: auto;
            display: block;
            float: left;
            height: 300px;
            margin-right: 20px;
            margin-bottom: 10px;
            border-radius: 20%;
        }
        .right > img {
            width: 25%;
            height: 300px;
            float: right;
            margin-left: 20px;
            margin-bottom: 10px;
            border-radius: 20%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        main .content {
            display: flex;
            align-items: center;
            margin: 20px;
        }
        
       .container> .left > img  {
            width: 300px; /* 이미지 크기 조정 */
            height: 300px;
            margin-left:20px;
        }
        .container > .right > img{
            width: 300px; /* 이미지 크기 조정 */
            margin-right: 20px;
        }
        
        .container > .left {
            flex-direction: row-reverse; /* 왼쪽 컨텐츠 이미지와 텍스트 순서 반전 */
        }
        
        .container > .right {
            flex-direction: row; /* 오른쪽 컨텐츠는 기본 방향 유지 */
        }
        